<!-- Inicio Interpolación -->
<div class="card">
  <div class="card-header">Interpolación</div>
  <div class="card-body">
    <!-- Se reemplazan los valores de las variables por lo que se tiene almacenado en el componente -->
    Cliente actual: <b>{{ clienteActual }}</b>
    <hr />
    <div class="d-flex justify-content-center">
      <img src="{{ urlImagen }}" alt="" />
    </div>
  </div>
</div>
<!-- Fin Interpolación -->

<!-- Inicio Template Statements
      Son del tipo
      (event)="statement"
-->
<button
  class="btn btn-outline-primary"
  (click)="cambiarCliente('Angie Katherine Linares Contento')"
>
  Actualizar nuevo cliente
</button>

<!-- Fin Template Statements -->
