<!-- Inicio Interpolación -->
<div class="card">
  <div class="card-header">Interpolación</div>
  <div class="card-body">
    <!-- Se reemplazan los valores de las variables por lo que se tiene almacenado en el componente -->
    Cliente actual: <b>{{ clienteActual }}</b>
    <hr />
    <div class="d-flex justify-content-center">
      <img src="{{ urlImagen }}" alt="" />
    </div>
  </div>
  <div class="card-footer">
    <!-- Fin Interpolación -->

    <!-- Inicio Template Statements
      Son del tipo
      (event)="statement"-->
    <button
      class="btn btn-outline-primary"
      (click)="cambiarCliente('Angie Katherine Linares Contento')"
    >
      Actualizar nuevo cliente
    </button>
    <!-- Fin Template Statements -->
  </div>
</div>

<!-- Inicio Data Binding -->
<div class="card my-5">
  <div class="card-header">Data Binding</div>
  <!-- Existen tres tipos de Data Binding
      1. One-Way desde la fuente de datos a la vista {{expression}}, [target]='expression'
      2. One-Way desde el objetivo de la vista a la fuente de datos (target)='statement'
      3. Two-Way [(target)]='expression'
-->
  <div class="card-body">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        value="Javier Leonardo Carrillo"
        [disabled]="controlActivo"
      />
    </div>
  </div>
</div>
<!-- Fin Data Binding -->

<!-- Paso de parámetros entre componentes -->
<div class="card">
  <div class="card-header">Paso de parámentros entre componentes</div>
  <div class="card-body">
    <app-padre></app-padre>
  </div>
</div>
