<div class="border" style="background-color: #ebfff0">
  <div class="container">
    <h4 class="text-center">Componente hijo</h4>
    Mensaje pasado desde el padre: <b>{{ mensaje }}</b>
    <p>Datos de la persona desde el hijo:</p>
    <ul>
      <li>nombre: {{ techCamper.nombre }}</li>
      <li>edad: {{ techCamper.edad }}</li>
      <li>profesion: {{ techCamper.profesion }}</li>
    </ul>
    <hr />
    <p>Crea un nuevo curso</p>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="curso.codigo"
        placeholder="Código de curso"
      />
      <input
        type="text"
        class="form-control"
        [(ngModel)]="curso.nombre"
        placeholder="Nombre de curso"
      />
      <input
        type="text"
        class="form-control"
        [(ngModel)]="curso.cantidad_horas"
        placeholder="Cantidad de horas"
      />
      <div class="card-footer">
        <button class="btn btn-outline-info" (dblclick)="enviarCursoAPadre()">
          Enviar curso al padre
        </button>
      </div>
    </div>
  </div>
</div>
