<div class="border" style="background-color: #edebff">
  <h2 class="text-center">Componente padre</h2>
  <div class="container">
    <p>Datos de la persona desde el padre:</p>
    <ul>
      <li>nombre: {{ persona.nombre }}</li>
      <li>edad: {{ persona.edad }}</li>
      <li>profesion: {{ persona.profesion }}</li>
    </ul>
  </div>
  <button class="btn btn-outline-success m-3" (click)="cambiarTechCamper()">
    Cambiar TechCamper
  </button>
  <div class="container p-3">
    <table *ngIf="cursos.length>0" class="table table-sm table-striped">
      <thead>
        <th>Código</th>
        <th>Nombre</th>
        <th>Horas</th>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.codigo }}</td>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.cantidad_horas }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Paso de variable como parámetro -->
    <app-hijo
      mensaje="Mensaje pasado como string"
      [techCamper]="persona"
      (eventCurso)="recibirCurso($event)"
    ></app-hijo>
  </div>
</div>
